body {
  /*justify-content: center;
  margin: 0 auto;*/
  border: 1px solid rgb(211, 37, 37);
  font-weight: bold;
  border-radius: 10px;
  margin: 50px;
  cursor: pointer;
}
body:hover {
  background-color: bisque;
}
div.drop-menu ul ul {
  display: none;
}
.bayan-foto {
  justify-content: center;
  padding-left: 0px;
  margin-left: 0px;
}
.header {
  margin-left: 50px;
  color: blue;
}
.name_mem {
  color: blue;
}
.name_mem:hover {
  color: rgb(36, 30, 30);
}

div.drop-menu li:hover > ul {
  display: block;
}
