.header {
  margin-left: 50px;
  color: black;
}
body {
  justify-content: center;
  margin: 0 auto;
  border: 1px solid rgb(211, 37, 37);
  font-weight: bold;
  border-radius: 10px;
  margin: 50px;
  cursor: url(<https://github.com/TimurLagawy/cssBayan/blob/gh-pages/image_cursor.png>),
    no-drop, pointer; /*cursor: progress;.mycursor {
    cursor: url("myimage.png"), pointer;	
    }*/
}
body:hover {
  background-color: bisque;
  color: black;
}
div.drop-menu ul ul {
  display: none;
}
.bayan-foto {
  justify-content: center;
  padding-left: 0px;
  margin-left: 0px;
}
.name_mem {
  color: blue;
}
.name_mem:hover {
  color: rgb(36, 30, 30);
}
.copy_paste_plus {
  margin-left: 10px;
  opacity: 1;
}
.copy_paste_x {
  opacity: 0;
}
.copy_paste:hover .copy_paste_plus {
  opacity: 0;
}
.copy_paste:hover .copy_paste_x {
  opacity: 1;
}
.work_life_plus {
  margin-left: 95px;
  opacity: 1;
}
.work_life_x {
  opacity: 0;
}
.work_life:hover .work_life_plus {
  opacity: 0;
}
.work_life:hover .work_life_x {
  opacity: 1;
}
.keep_calm_x {
  opacity: 0;
}
.keep_calm_plus {
  margin-left: 78px;
}
.keep_calm:hover .keep_calm_plus {
  opacity: 0;
}
.keep_calm:hover .keep_calm_x {
  opacity: 1;
}
.dude_plus {
  margin-left: 115px;
  opacity: 1;
}
.dude_x {
  opacity: 0;
}
.dude:hover .dude_plus {
  opacity: 0;
}
.dude:hover .dude_x {
  opacity: 1;
}
.relax_plus {
  margin-left: 95px;
  opacity: 1;
}
.relax_x {
  opacity: 0;
}
.relax:hover .relax_plus {
  opacity: 0;
}
.relax:hover .relax_x {
  opacity: 1;
}
body:hover .bayan-foto {
  border: 2px solid #333;
}
.bayan-foto {
  cursor: pointer;
}
.header {
  margin-left: 50px;
  color: black;
}
div.drop-menu li:hover > ul {
  display: block;
}
